@import "../../../mixins";

.card {
    @include card-size(100%);
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.front {
    display: none;
}

.card.visible {
    .back {
        display: none;
    }
    .front {
        display: block;
    }
}