$card-image-width: 180;
$card-image-height: 248;
$player-colors: blue, green, orange, yellow, red;
$text-color: #fff;
$button-text-color: #fff;
$button-border-color: #fff;
$button-background-color: rgba(29, 43, 48, 0.4);
$button-background-color-hover: rgba(29, 43, 48, 0.6);
$range-thumb-color: rgba(29, 43, 48, 0.4);
$range-track-color: #fff;
$message-text-color: #FEF200;
$selection-color: #FEF200;